// assets/fhirpath_highlighter.scss

@import '~vuetify/src/styles/styles.sass';


.ace-chrome {

  .ace_fhir_string {
    color: #a31515;
    // font-weight: bold;
  }

  .ace_fhir_paren {
    color: green;
    font-weight: bold;
  }

  .ace_fhir_keyword {
    color: #0000ff;
  }

  .ace_fhir_variable {
    color: #b255a5;
    font-weight: bold;
  }

  .ace_bstring {
    color: green !important;
    font-weight: bold;
  }

  .ace_fhir_comment {
    color: #008000
  }

  .ace_fhir_literal {
    color: darkslategray;
  }

  .ace_fhir_identifier {
    color: #1f377f;
    text-decoration: underline;
  }

  .ace_fhir_function {
    color: #74531f;
  }

  // add tooltips to these using https://www.bitdegree.org/learn/css-tooltip
}

// --------------------------------------------------------------------------
// ace editor top level styling
// --------------------------------------------------------------------------
.ace_editor {
  margin-top: -4px;
  margin-left: -4px;
  padding-bottom: 2px;
}

// don't show the cursor when the control doesn't have focus
.ace_hidden-cursors {
  opacity: 0;
}


// Only show the brace matching when the control has focus
.ace_editor .ace_bracket {
  display: none;
}

.ace_editor:focus-within .ace_bracket {
  display: block;
}


// --------------------------------------------------------------------------
// Editor footer line (Material UI focus display)
// --------------------------------------------------------------------------

.ace_editor_footer {
  position: relative;
  margin-top: 1px;
  height: 0;
  padding-bottom: 4px;
  border-bottom: thin solid white ;
  color: #949494;
}

.ace_editor:focus-within+.ace_editor_footer,
.ace_editor:hover+.ace_editor_footer {
  color: #212121;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  // display: block;
}


.ace_editor+.ace_editor_footer::before,
.ace_editor+.ace_editor_footer::after {
  bottom: -1px; // Needed for browser autocomplete styles
  content: '';
  // left: 4px;
  position: absolute;
  transition: $primary-transition;
  width: 100%;
  // display: none;
}

.ace_editor:focus-within+.ace_editor_footer::after {
  display: block;
  transform: scaleX(1);
}

.ace_editor+.ace_editor_footer::before {
  border-color: inherit;
  border-style: solid;
  border-width: thin 0 0 0;
}

.ace_editor+.ace_editor_footer::after {
  background-color: black;
  border-color: black;
  border-style: solid;
  border-width: 1px 0 thin 1px;
  transform: scaleX(0);
}
